<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletMain</servlet-name>
        <servlet-class>.ServletMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroResponsavel</servlet-name>
        <servlet-class>Controller.CadastroResponsavel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPerfil</servlet-name>
        <servlet-class>Controller.LoginPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroAlunoPorResponsavel</servlet-name>
        <servlet-class>Controller.CadastroAlunoPorResponsavel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMain</servlet-name>
        <url-pattern>/ServletMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroResponsavel</servlet-name>
        <url-pattern>/CadastroResponsavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPerfil</servlet-name>
        <url-pattern>/LoginPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroAlunoPorResponsavel</servlet-name>
        <url-pattern>/CadastroAlunoPorResponsavel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
